<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout6</title>
    <link rel="stylesheet" href="../Layout/css/layout6.css">
</head>
<body>
    <div id="k1">
        <header>header</header>
        <nav>nav</nav>
        <section>
            <article id="art1">article1</article>
            <article id="art2">article2</article>
        </section>
        <aside>aside</aside>
        <footer>footer</footer>
    </div>
</body>
</html>